# Ignore binary files
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.config
*.log
*.vs/
.vscode/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore temporary VSCode files
.vs/
_ReSharper*/
*.[Rr]e[Ss]harper

# Ignore Nuget packages
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Ignorar Archivos de Publicación
.publish/
.publish_output/

# Ignorar Archivos de Usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# ignore node files 
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.local


# Ignore vue dependencies files
*.env.local
*.env.*.local

# Ignore tools setup files
.vscode/
.idea/
.DS_Store


# Ignore vue-build files
build/
config/
coverage/

# Ignore test files
test/unit/coverage/
test/e2e/reports/

# Ignore temporary files
*.swp
*.swo
*.tmp

# Ignore log files
*.log

# Ignore the Operative system settings files
Thumbs.db
.DS_Store

# Ignore editor files
*.code-workspace


# Ignore the Release folder and its contents
Release